<footer>
    <p class="font-sm">&copy; Thrifty</p>    
    <div class="foot">
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
    </div>
</footer>
</body>
</html>