<%- include('./partials/header.ejs')%>
    <main>
        <img src="images/logo.jpeg" alt="thrifty logo" id="log" width="550" height="350">
        <div class="img-container">
            <img src="images/sust.jpeg" alt="sustainability picture" id="log1" width="550" height="350">
            <img src="images/rrr.jpeg" alt="reuse, reducem recycle picture" id="log2" width="500" height="250">
        </div>
      
        <div class="accordion">
            <section>
                <button class="accordion-label">About Thrifty</button>
                <div class="accordion-content">
                    <p>Thrifty is an online thrift store aiming to encourage the 3 Rs of sustainability; Reduce, reuse, and recycle. This application allows users to buy and sell used and/or new items ranging from clothes to furniture. We have several options for men and women to explore their style while reducing their carbon footprint. Help create a more sustainable planet by using our interactive application to decrease your impact on the environment.</p>
                </div>
            </section>
            <section>
                <button class="accordion-label">Browse Page</button>
            <div class="accordion-content">
                <p>The browse page displays all the various items you can buy from. This page contains 3 different sections, women, men, and furniture/other items. The women's section has several options such as shirts, blouses, pants, dresses, shoes, accessories, etc. The men's section also provides multiple options such as shirts, jackets, shoes, pants, accessories, etc. The furniture/other section is our most diverse range of items, it has pretty much everything you can think of ranging from furniture to decorative pieces for your home.</p>
            </div>
            </section>
            <section>
                <button class="accordion-label">Sell Page</button>
                <div class="accordion-content">
                    <p>This page allows you to sell any items of your choice. You simple have to fill out a form that asks for the name of the item, the condition, the amount you'd like to sell it for, details of the product such as size if its clothing or any damages for other items, and a picture of the item. Once you submit the form, a listing will be created for your item and you will be able to view all the offers users have made for your item.</p>
                </div>
            </section>
        </div>
    </main>
    <%- include('./partials/footer.ejs')%>
<!-- <section>
            <p>About Thrifty</p>
            <p>Thrifty is an online thrift store aiming to encourage the 3 Rs of sustainability; Reduce, reuse, and recycle. This application allows users to buy and sell used and/or new items ranging from clothes to furniture. We have several options for men and women to explore their style while reducing their carbon footprint. Help create a more sustainable planet by using our interactive application to decrease your impact on the environment.</p>
        </section>
        <section>
            <p>Browse page</p>
            <p>The browse page displays all the various items you can buy from. This page contains 3 different sections, women, men, and furniture/other items. The women's section has several options such as shirts, blouses, pants, dresses, shoes, accessories, etc. The men's section also provides multiple options such as shirts, jackets, shoes, pants, accessories, etc. The furniture/other section is our most diverse range of items, it has pretty much everything you can think of ranging from furniture to decorative pieces for your home.</p>
        </section>
        <section>
            <p>Sell page info</p>
            <p>This page allows you to sell any items of your choice. You simple have to fill out a form that asks for the name of the item, the condition, the amount you'd like to sell it for, details of the product such as size if its clothing or any damages for other items, and a picture of the item. Once you submit the form, a listing will be created for your item and you will be able to view all the offers users have made for your item.</p>
        </section> -->